$bgcolor: lightblue;
$textcolor: red;
$fontsize: 18px;
$mysmallsize: 12px;

/* 使用变量 */
body {
  background-color: $bgcolor;
  color: $textcolor;
  font-size: $fontsize;
}
p{
  font-size: $mysmallsize;
}
h1{
  color: $textcolor;
}