#nav {
  display: flex;
  width: 1200px;
  justify-content: space-between;
  margin-top: 20px;
}
* {
  margin: 0;
  padding: 0;
}
#hedd {
  width: 1200px;
  margin: 0 auto;
}
#nav div {
  width: 150px;
  height: 120px;
  background-color: white;
  border-radius: 20px;
  padding-left: 10px;
  padding-top: 17px;
  line-height: 30px;
}
#nav div:hover {
  margin-top: -10px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
#nav div p {
  color: #ccc;
  font-size: 5px;
  margin-top: 10px;
}
body {
  background-color: rgba(234, 211, 255, 0.109);
}
#hh1 {
  color: #ffc6ff;
}
#hh2 {
  color: #ffbc6b;
}
#hh3 {
  color: #e1ffc6;
}
#hh4 {
  color: #ffc6ff;
}
#hh5 {
  color: #ffbc6b;
}
#hh6 {
  color: #b1fefa;
}
ul {
  margin-left: 40%;
}
li {
  float: left;
  margin-left: 10px;
  list-style: none;
  width: 60px;
  height: 30px;
  background-color: #77d6fc;
  text-align: center;
  line-height: 30px;
  border-radius: 10px;
}
a {
  text-decoration: none;
  color: black;
}
#one {
  width: 550px;
  height: 500px;
  background-color: white;
  padding-top: 20px;
  padding-left: 10px;
  margin-top: 30px;
  border-radius: 20px;
  position: relative;
  background-color: rgba(234, 211, 255, 0.109);
}
#ifrm {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
}
li:hover {
  margin-top: -3px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
#two {
  width: 550px;
  height: 500px;
  background-color: white;
  padding-top: 20px;
  padding-left: 10px;
  margin-top: 30px;
  border-radius: 20px;
  position: relative;
  background-color: rgba(234, 211, 255, 0.109);
}
#ifrm1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 20px;
}
#cbig {
  display: flex;
  justify-content: space-between;
}
#cbig2 {
  width: 1200px;
  background-color: white;
  margin-top: 20px;
}
#dat {
  float: right;
  width: 600px;
  height: 88px;
}
#yuan {
  display: flex;
  width: 35%;
  margin-top: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 10%;
  height: 500px;
  margin-left: 50px;
  float: left;
}
#yuan div {
  width: 150px;
  height: 130px;
  background-color: rgba(234, 211, 255, 0.109);
  border-radius: 20px;
  line-height: 35px;
  padding-left: 15px;
  padding-top: 15px;
}
#inp {
  height: 30px;
  float: left;
}
#dat {
  margin-top: 2%;
}
#yuan p {
  font-size: 5px;
  color: #ccc;
}
#yuan h3 {
  font-size: 25px;
}
#yuan div:hover {
  margin-top: -3px;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.3);
}
